# Update these with your Supabase Project Settings
NEXT_PUBLIC_SUPABASE_URL=https://kcwrtimsogzrpskcfcdn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtjd3J0aW1zb2d6cnBza2NmY2RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgwNzc3MTMsImV4cCI6MjA4MzY1MzcxM30.F5muTE7DcQVCEg3GiJw_dttAlwYmWDR5mohOEL-_OXw
GEMINI_API_KEY=AIzaSyAcaV2e5ezCkg9XT8bhtbh2sq6371GdzUE